<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <title>PCfejl - Admin login</title>
</head>

<body>

    <main>

        <div class="admin-form-container">
            
            <form class="admin-form">
                <label for="email">Email:</label>
                <input id="email" name="email" type="text">
                <label for="password">Password</label>
                <input id="password" name="password" type="password">
                <button>Login</button>
            </form>

        </div>

    </main>

    <!-- JS -->

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.15.4/firebase-app.js"></script>
    <!-- TODO: Add SDKs for Firebase products that you want to use
         https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/7.15.4/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.15.4/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.15.4/firebase-auth.js"></script>

    <script src="/assets/js/firebase-config.js"></script>
    <script src="/assets/js/admin-login.js"></script>

</body>

</html>