<!DOCTYPE html>
<html lang="da">

<head>

    <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="2916ef17-cb11-4aa2-9e7d-79fd112e3df3"
        data-blockingmode="auto" type="text/javascript"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-171086739-1%22%3E"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-171086739-1');
    </script>

    <meta charset="UTF-8">

    <link rel="shortcut icon" href="/assets/images/pcfejl-logo-tab.svg" type="image/x-icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="keywords" content="Virus, fejl, computer, pc">

    <meta name="description"
        content="På pcfejl.dk hjælper vi dig med dine IT problemer, stort som småt, hvad enten om dit mailprogram ikke virker, har du virus, eller er din computer blevet langsom.">

    <!-- CSS -->
    <link rel="stylesheet" href="/assets/css/styles.css">

    <!-- SwiperJS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/7c822157fa.js" crossorigin="anonymous"></script>

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

    <title>PCfejl - Når IT skal være nemt</title>
</head>

<body>

    <!-- Header -->
    <%- include('templates/header'); %>

    <div class="hero">
        <h1 class="hero__heading">Backup løsning</h1>
    </div>

    <!-- Breadcrumbs -->
    <%- include('templates/breadcrumbs'); %>

    <main>

        <div class="wrapper">

            <div class="backup-container">

                <div class="backup-container__logo">
                    <a href="https://nordic-backup.dk/pid=11366"><img src="/assets/images/Nordic-Backup-Logo-600x120.png" alt=""></a>
                </div>

                <p class="backup-container__description">Nordic Backup startede som hostingfirma for næsten tyve år
                    siden, hvor Nordic-Backup byggede deres eget hardware
                    og designede lagringssystemer, der pressede markedet for hastighed og holdbarhed. I dag beskytter
                    Nordic-Backup's datacentre mange terabytes for tusindvis af virksomheder og enkeltpersoner over to
                    kontinenter. Nordic Backup tilbyder høj uploadhastighed, ægte punkt-til-punkt sikkerhed og tillid
                    til, at dine filer vil være der, når du har brug for dem.</p>

                <div class="backup-container-inner">

                    <div class="backup-card">
                        <h2 class="backup-card__title">Personlig Computer Backup</h2>

                        <hr class="backup-card__line backup-card__line--big">

                        <div class="backup-card__image">
                            <img src="/assets/images/cloud-computers-servers-personal-1.png" alt="">
                        </div>
                        <div class="backup-card__info">
                            <p>Sikkerhedskopier og gendan din PC ubesvære for kun DKK <span
                                    class="backup-card__price">595,-</span> pr. år.</p>
                        </div>
                        <div class="backup-card__call">
                            <p><a href="https://nordic-backup.dk/pid=11366">Køb her</a></p>
                        </div>
                    </div>

                    <div class="backup-card">
                        <h2 class="backup-card__title">Avanceret Backup</h2>

                        <hr class="backup-card__line backup-card__line--big">

                        <div class="backup-card__image">
                            <img src="/assets/images/cloud-computers-servers-advanced-1.png" alt="">
                        </div>

                        <div class="backup-card__info">
                            <p>Sikkerhedskopier and gendan hele dit kontor fra kun DKK <span
                                    class="backup-card__price">1.700,-</span> pr. år</p>
                        </div>
                        <div class="backup-card__call">
                            <p><a href="https://nordic-backup.dk/pid=11366">Køb her</a></p>
                        </div>
                    </div>

                    <div class="backup-card">
                        <h2 class="backup-card__title">Professionel Backup</h2>

                        <hr class="backup-card__line backup-card__line--big">

                        <div class="backup-card__image">
                            <img src="/assets/images/cloud-computers-servers-professional-1.png" alt="">
                        </div>

                        <div class="backup-card__info">
                            <p>Sikkerhedskopier and gendan hele din virksomhed og
                                kompleks datastruktur med fuld administreret service fra kun DKK <span
                                    class="backup-card__price">125,-</span> pr. måned</p>
                        </div>
                        <div class="backup-card__call">
                            <p><a href="https://nordic-backup.dk/pid=11366">Køb her</a></p>
                        </div>
                    </div>

                    <div class="backup-card">
                        <h2 class="backup-card__title">Office 365 Backup</h2>

                        <hr class="backup-card__line backup-card__line--big">

                        <div class="backup-card__image">
                            <img src="/assets/images/office-365-backup.png" alt="">
                        </div>

                        <div class="backup-card__info">
                            <p>Beskyt dine Office 365 postkasser, offentlige mapper, Sharepoint, OneDrive med mere <br>
                                fra kun
                                DKK <span class="backup-card__price">44,-</span> pr. måned</p>
                        </div>
                        <div class="backup-card__call">
                            <p><a href="https://nordic-backup.dk/pid=11366">Køb her</a></p>
                        </div>
                    </div>
                </div>

                <ul class="backup-container__list">
                    <h2 class="backup-container__title">Hvorfor Nordic-Backup</h2>
                    <li>
                        <h3>Hurtig gendannelse</h3>
                        <p>Uanset om du har brug for at redde digitale minder eller gendanne virksomhedsdata uden
                            nedetid, så er din backupdata kun få klik væk. Hent hurtigt de mistede data fra Nordic-Backup's Sky,
                            eller endda gendan hele dit system med fuldt administreret gendannelse og hosting hos Nordic-Backup.
                        </p>
                    </li>

                    <li>
                        <h3>Automatisk, kontinuerlig sikkerhedskopi</h3>
                        <p>
                            Nordic-Backup's software gemmer automatisk nye og ændrede filer, så du aldrig mister noget. Med Nordic
                            Backup kørende ubemærket i baggrunden, sikres private- og virksomhedsdata effektivt uden
                            forstyrrelse.
                        </p>
                    </li>

                    <li>
                        <h3>Punkt-til-punkt sikkerhed</h3>
                        <p>
                            Med topmoderne datacentre, punkt-til-punkt kryptering og redundante servere, beskytter
                            Nordic Backup selv dine mest følsomme data imod tab. Nordic-Backup reviderer og forbedrer løbende deres
                            sikkerhedssystemer for at sikre, at din sikkerhedskopi altid er fuldt beskyttet.
                        </p>
                    </li>

                    <li>
                        <h3>Ubesværet</h3>
                        <p>
                            Nordic Backup kører ubemærket i baggrunden for at sikre en frisk kopi af dine vigtigste
                            data, uden at forstyrre dig. Ingen irriterende pop-ups og ikke længere behov for at huske at
                            lave sikkerhedskopi – bare installér og glem!
                        </p>
                    </li>

                    <li>
                        <h3>Lager i Skyen uden grænser</h3>
                        <p>
                            Du skulle ikke behøve at vælge og fravælge de data, du vil beskytte. Nordic Backup
                            ”Personlig Computer” sikkerhedskopierer alle dine dyrebare data – og giver dig ubegrænset
                            lagerplads til dine fotos, musik, dokumenter,e-mails og meget mere. Nordic-Backup's løsninger til
                            virksomheder kan desuden skaleres til alle typer af konfigurationer og data.
                        </p>
                    </li>

                    <li>
                        <h3>Fuld kontrol</h3>
                        <p>
                            Gendannelse af data hvornår, hvor og på den måde du har brug for dem, har aldrig været
                            lettere. Med Nordic-Backup's fleksible gendannelse og ubegrænsede antal versioner, så kan du gendanne
                            dine data hvor som helst med en internetforbindelse, til en vilkårlig computer.
                        </p>
                    </li>
                </ul>

            </div>

        </div>

    </main>

    <!-- Footer -->
    <%- include('templates/footer'); %>

    <!-- JS -->
    <script src="/assets/js/script.js"></script>
    <script src="/assets/js/breadcrumbs.js"></script>

    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/5f08b54167771f3813c0d03c/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->

</body>

</html>