<!DOCTYPE html>
<html lang="da">

<head>

    </script>

    <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="2916ef17-cb11-4aa2-9e7d-79fd112e3df3"
        data-blockingmode="auto" type="text/javascript"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-171086739-1%22%3E"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-171086739-1');
    </script>

    <meta charset="UTF-8">

    <link rel="shortcut icon" href="/assets/images/pcfejl-logo-tab.svg" type="image/x-icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="Har du virus eller er din computer langsom? så er pcfejl.dk stedet">

    <!-- CSS -->
    <link rel="stylesheet" href="/assets/css/styles.css">

    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/7c822157fa.js" crossorigin="anonymous"></script>

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">

    <title>PCfejl - Cookiepolitik</title>
</head>

<body>

    <!-- Header -->
    <%- include('templates/header'); %>

    <!-- Hero -->
    <div class="hero">

    </div>

    <!-- Breadcrumbs -->
    <%- include('templates/breadcrumbs'); %>

    <main>
        <div class="politik">

            <h1 class="politik__title">Cookiepolitik</h1>

            <p>PCfejl's website anvender cookies til at tilpasse og forbedre det indhold, der vises på siden. Hvis du
                ikke ønsker, at der indsamles oplysninger, bør du slette dine cookies og undlade videre brug af
                websitet.</p>

            <h3 class="politik__heading">Hvad er en cookie?</h3>

            <p>En cookie er en tekstfil, som gemmes på din computer, mobil el. tilsvarende med det formål at
                genkende den, huske indstillinger, udføre statistik og målrette annoncer.</p>

            <p>En cookie er en passiv fil, der ikke kan indsamle de oplysninger, der er på din computer, eller
                sprede computervirus og andre skadelige programmer</p>

            <p>Hvordan fjerner eller undgår du cookies? <a
                    href="http://minecookies.org/cookiehandtering">http://minecookies.org/cookiehandtering</a></p>

            <p>Du har mulighed for at slette eller blokere for cookies. Se vejledning:</p>

            <p>Hvis du sletter eller blokerer cookies vil annoncer kunne blive mindre relevante for dig og optræde
                hyppigere. Du kan desuden risikere at websitet ikke fungerer optimalt samt at der er indhold, du
                ikke kan få adgang til.</p>

            <h3 class="politik__heading">Tredjeparts-cookies</h3>

            <p>Websitet indeholder cookies fra tredjeparter, der i varierende omfang kan omfatte:</p>

            <ul class="politik__thirdparty">
                <li>Google Analytics</li>
                <li>Facebook Customer Chat Plugin</li>
            </ul>

            <h3 class="politik__heading">Ejer og kontaktoplysninger</h3>

            <p>Vores website ejes og publiceres af:</p>

            <p>PCfejl I/S</p>

            <p>Hvis du ønsker nærmere oplysninger om dette website og brugen af cookies, er du velkommen til at kontakte
                os på kontakt@pcfejl.dk</p>

        </div>

    </main>

    <!-- Footer -->
    <%- include('templates/footer'); %>

    <!-- JS -->
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.15.4/firebase-app.js"></script>
    <!-- TODO: Add SDKs for Firebase products that you want to use
                 https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/7.15.4/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.15.4/firebase-firestore.js"></script>

    <script src="/assets/js/firebase-config.js"></script>
    <script src="/assets/js/script.js"></script>

    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/5f08b54167771f3813c0d03c/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->

</body>

</html>