<!DOCTYPE html>
<html lang="da">

<head>

    <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="2916ef17-cb11-4aa2-9e7d-79fd112e3df3"
        data-blockingmode="auto" type="text/javascript"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-171086739-1%22%3E"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-171086739-1');
    </script>

    <meta charset="UTF-8">

    <link rel="shortcut icon" href="/assets/images/pcfejl-logo-tab.svg" type="image/x-icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="keywords" content="Virus, fejl, computer, pc">

    <meta name="description"
        content="Her du kan se ofte stillede spørgsmål omkring, fjernsupport, on site support, vores abonnement, betalinger.">

    <!-- CSS -->
    <link rel="stylesheet" href="/assets/css/styles.css">

    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/7c822157fa.js" crossorigin="anonymous"></script>

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">

    <title>PCfejl - FAQ</title>
</head>

<body>

    <!-- Header -->
    <%- include('templates/header'); %>

    <!-- Hero -->
    <div class="hero">
        <h1 class="hero__heading">Spørgsmål</h1>
    </div>

    <!-- Breadcrumbs -->
    <%- include('templates/breadcrumbs'); %>

    <main>

        <div class="wrapper">

            <div class="faq-container">

                <div class="faq-card">
                    <h2 class="faq-card__title">Support</h2>

                    <hr class="faq-card__line faq-card__line--big">

                    <div>
                        <h3 class="faq-card__q">Hvad er fjernsupport?</h3>
                        <p class="faq-card__a">Fjernsupport er en supportform, som ikke kræver at vi fysisk er hos
                            kunden. Vi kan simpelthen hjælpe dig via et fjernstyringsprogrammet.</p>
                    </div>

                    <hr class="price-card__line price-card__line--small">

                    <div>
                        <h3 class="faq-card__q">Er der nogle problemer i ikke kan hjælpe med?</h3>
                        <p class="faq-card__a">Vores IT supportere er erfarne, og arbejder med IT support til daglig. Vi
                            har en meget høj problemløsnings procent.</p>
                    </div>

                    <hr class="price-card__line price-card__line--small">

                    <div>
                        <h3 class="faq-card__q">Tilbyder i onsite Support?</h3>
                        <p class="faq-card__a">Ja, der tilbydes onsite support, lørdag og søndag fra kl. 10:00-22:00</p>
                    </div>

                    <hr class="price-card__line price-card__line--small">

                    <div>
                        <h3 class="faq-card__q">Hvad hvis jeg gerne vil have IT hjælp, men jeg intet internet har?</h3>
                        <p class="faq-card__a">Så kan vi prøve at sætte din mobil telefon op til at dele mobildata, og
                            hjælpe dig derefter.</p>
                    </div>

                    <hr class="price-card__line price-card__line--small">

                    <div>
                        <h3 class="faq-card__q">Er det sikkert at anvende fjernsupport?</h3>
                        <p class="faq-card__a">Ja det er sikkert, så længe du ved hvem der overtager din PC for at
                            hjælpe dig. Vi har tavshedspligt, og det vi ser er fortroligt.</p>
                    </div>

                    <hr class="price-card__line price-card__line--small">

                    <div>
                        <h3 class="faq-card__q">Hvad sker der når jeg ringer ind til jer</h3>
                        <p class="faq-card__a">Du vil komme i kontakt med en af vores IT eksperter, som tager imod navn,
                            telefonnummer, adresse og mail fra dig, inden supportering påbegyndes.</p>
                    </div>

                </div>

                <div class="faq-card">
                    <h2 class="faq-card__title">Betaling</h2>

                    <hr class="faq-card__line faq-card__line--big">

                    <div>
                        <h3 class="faq-card__q">Hvornår skal jeg betale?</h3>
                        <p class="faq-card__a">Du skal først betale, efter at dit problem er løst. Efter at dit problem
                            er løst, så har du 7 dage til at betale regningen, som du får tilsendt.</p>
                    </div>

                    <hr class="price-card__line price-card__line--small">

                    <div>
                        <h3 class="faq-card__q">Hvordan betaler jeg?</h3>
                        <p class="faq-card__a">Du får tilsendt en faktura med email hvor der står betalingsinformation,
                            som du skal betale senest 7 dage fra modtagelsen af support.</p>
                    </div>

                    <hr class="price-card__line price-card__line--small">

                    <div>
                        <h3 class="faq-card__q">Hvilke betalingsmuligheder har i?</h3>
                        <p class="faq-card__a">På nuværende tidspunkt er det kun muligt at betale via en
                            bankoverførelse, du vil modtage en faktura med information.</p>
                    </div>

                </div>

                <div class="faq-card">
                    <h2 class="faq-card__title">Om os</h2>

                    <hr class="faq-card__line faq-card__line--big">

                    <div>
                        <h3 class="faq-card__q">Hvem er vi?</h3>
                        <p class="faq-card__a">Vi er et lille team på 4, med en stor passion indenfor IT og
                            kundeservice.</p>
                    </div>
                </div>

            </div>

        </div>

    </main>

    <!-- Footer -->
    <%- include('templates/footer'); %>

    <!-- JS -->
    <script src="/assets/js/script.js"></script>
    <script src="/assets/js/faq.js"></script>
    <script src="/assets/js/breadcrumbs.js"></script>

    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/5f08b54167771f3813c0d03c/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->

</body>

</html>