<!DOCTYPE html>
<html lang="da">

<head>
    <meta charset="UTF-8">

    <link rel="shortcut icon" href="/assets/images/logo-tab.svg" type="image/x-icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" href="/assets/css/styles.css">

    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/7c822157fa.js" crossorigin="anonymous"></script>

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">

    <title>PC fejl</title>
</head>

<body>

    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                xfbml: true,
                version: 'v7.0'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/da_DK/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <!-- Your Chat Plugin code -->
    <div class="fb-customerchat" attribution=setup_tool page_id="101616831480614" theme_color="#007ACC">
    </div>

    <!-- Header -->
    <%- include('templates/header'); %>

    <!-- Hero -->
    <div class="hero">
        <h1 class="hero__heading">Spørgsmål</h1>
    </div>

    <!-- Breadcrumbs -->
    <%- include('templates/breadcrumbs'); %>

    <main>

        <div class="wrapper">
            <div class="faq">

                <!-- Support start -->
                <div class="faq__column">
                    <h2>Support</h2>
                    <button class="faq__question accordion">Hvad er fjernsupport?</button>
                    <div class="panel">
                        <p class="faq__answer">Fjernsupport er en supportform, som ikke kræver at vi fysisk er hos
                            kunden. Vi
                            kan simpelthen hjælpe dig via et fjernstyringsprogrammet.</p>
                    </div>

                    <button class="faq__question accordion">Er der nogle problemer i ikke kan hjælpe med?</button>
                    <div class="panel">
                        <p class="faq__answer">Vores IT supportere er erfarne, og arbejder med IT support til daglig. Vi
                            har en meget høj problemløsnings procent</p>
                    </div>

                    <button class="faq__question accordion">Tilbyder pcfejl.dk onsite support?</button>
                    <div class="panel">
                        <p class="faq__answer">I øjeblikket tilbyder pcfejl.dk ikke onsite support, dog er onsite
                            support en
                            del af virksomhedens langsigtede planer.</p>
                    </div>

                    <!-- <button class="accordion">Kan i agere som ekstern IT helpdesk for min virksomhed?</button>
                    <div class="panel">
                        <p class="answer">Ja, hvis din virksomhed ikke har sin egen IT afdeling. Se priser og mere inde
                            på siden "Priser".</p>
                    </div> -->

                    <button class="faq__question accordion">Hvad hvis jeg gerne vil have IT hjælp, men jeg
                        intet Internet har?</button>
                    <div class="panel">
                        <p class="faq__answer">Så kan vi prøve at sætte din mobil telefon op til at dele mobildata, og
                            hjælpe
                            dig derefter.</p>
                    </div>

                    <button class="faq__question accordion">Er det sikkert at anvende fjernsupport?</button>
                    <div class="panel">
                        <p class="faq__answer">Ja det er sikkert, så længe du ved hvem der overtager din PC for at
                            hjælpe dig.
                            Vi har tavshedspligt, og det vi ser er fortroligt</p>
                    </div>

                    <button class="faq__question accordion">Hvad sker der når jeg ringer ind til jer?</button>
                    <div class="panel">
                        <p class="faq__answer">Du vil komme i kontakt med en vores IT eksperter, som modtager navn,
                            telefonnummer, adresse og mail fra dig, inden supportering påbegyndes.</p>
                    </div>

                </div>
                <!-- Support slut -->

                <!-- Betaling start -->
                <div class="faq__column">
                    <h2>Betaling</h2>
                    <button class="faq__question accordion">Hvornår skal jeg betale?</button>
                    <div class="panel">
                        <p class="faq__answer">Du skal først betale, efter at dit problem er løst. Efter at dit problem
                            er
                            løst, så har du 7 dage til at betale regningen, som du får tilsendt.</p>
                    </div>

                    <button class="faq__question accordion">Hvordan betaler jeg?</button>
                    <div class="panel">
                        <p class="faq__answer">Du får tilsendt en faktura med email hvor der står betalingsinformation,
                            som
                            du skal betale senest 7 dage fra modtagelsen af support.</p>
                    </div>

                    <button class="faq__question accordion">Hvis jeg har et klippekort, skal jeg betale hver
                        gang?</button>
                    <div class="panel">
                        <p class="faq__answer">Når du har købt ét klippekort, gælder det klippekort for dine fremtidige
                            support, indtil du ikke længere har flere klip tilbage.</p>
                    </div>

                    <button class="faq__question accordion">Hvilken betalingsmuligheder har i?</button>
                    <div class="panel">
                        <p class="faq__answer">På nuværende tidspunkt er det kun muligt at betale via en
                            bankoverførelse, du vil modtage en faktura med information.</p>
                    </div>
                </div>
                <!-- Betaling slut -->

                <!-- Om os start -->
                <div class="faq__column">
                    <h2>Om os</h2>
                    <button class="faq__question accordion">Hvem er vi</button>
                    <div class="panel">
                        <p class="faq__answer">Vi er et lille team på 4, med en stor passion indenfor IT og
                            kundeservice.</p>
                    </div>

                </div>
                <!-- Om os slut -->

            </div>

        </div>

    </main>

    <!-- Footer -->
    <%- include('templates/footer'); %>

    <!-- JS -->

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.15.4/firebase-app.js"></script>
    <!-- TODO: Add SDKs for Firebase products that you want to use
             https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/7.15.4/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.15.4/firebase-firestore.js"></script>

    <script>
        // Your web app's Firebase configuration
        var firebaseConfig = {
            apiKey: "AIzaSyAzJ_PMIdpeeo8jiTgrhR4Z7DWc-B13iT4",
            authDomain: "pcfejl-92407.firebaseapp.com",
            databaseURL: "https://pcfejl-92407.firebaseio.com",
            projectId: "pcfejl-92407",
            storageBucket: "pcfejl-92407.appspot.com",
            messagingSenderId: "17374909485",
            appId: "1:17374909485:web:79019562ed4fad7f5ad4a4",
            measurementId: "G-Z9P51JW7JV"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        firebase.analytics();
        var db = firebase.firestore();
    </script>

    <script src="/assets/js/nav.js"></script>
    <script src="/assets/js/script.js"></script>
    <script src="/assets/js/popdown-faq.js"></script>
    <script src="/assets/js/breadcrumbs.js"></script>

</body>

</html>