<!DOCTYPE html>
<html lang="da">

<head>

    <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="2916ef17-cb11-4aa2-9e7d-79fd112e3df3"
        data-blockingmode="auto" type="text/javascript"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-171086739-1%22%3E"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-171086739-1');
    </script>

    <meta charset="UTF-8">

    <link rel="shortcut icon" href="/assets/images/pcfejl-logo-tab.svg" type="image/x-icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="keywords" content="Virus, fejl, computer, pc">

    <meta name="description"
        content="På pcfejl.dk hjælper vi dig med dine IT problemer, stort som småt, hvad enten om dit mailprogram ikke virker, har du virus, eller er din computer blevet langsom.">

    <!-- CSS -->
    <link rel="stylesheet" href="/assets/css/styles.css">

    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/7c822157fa.js" crossorigin="anonymous"></script>

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">

    <title>PCfejl - Når IT skal være nemt</title>
</head>

<body>

    <!-- Header -->
    <%- include('templates/header'); %>

    <!-- Hero -->
    <div class="hero hero--index">
        <h1>Velkommen til pcfejl.dk</h1>
        <p>Vi er den nemme løsning til dine IT problemer. <br> Ring til os på <span class="hero--index__phone">+45 89 87
                07 46</span></p>
        <p>Vi glæder os til at høre fra dig.</p>
    </div>

    <main>

        <div class="wrapper">

            <div class="info-flex-container">

                <div class="info">
                    <a href="/kontakt/">
                        <div class="info-container">
                            <div class="info__top">
                                <i class="fas fa-user-friends"></i>
                            </div>
                            <div class="info__middle">
                                <h3 class="info__heading">Hvem er vi</h3>
                                <p>Et team der bestræber sig på at give den bedste oplevelse.</p>
                            </div>
                            <div class="info__bottom">
                                <i class="info__arrow fas fa-arrow-right"></i>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="info">
                    <a href="/priser/">
                        <div class="info-container">
                            <div class="info__top">
                                <i class="fas fa-laptop"></i>
                            </div>
                            <div class="info__middle">
                                <h3 class="info__heading">Vi tilbyder</h3>
                                <p>IT support til en god pris, og som er til at forstå.</p>
                            </div>
                            <div class="info__bottom">
                                <i class="info__arrow fas fa-arrow-right"></i>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="info">
                    <a href="/priser/">
                        <div class="info-container">
                            <div class="info__top">
                                <i class="fas fa-credit-card"></i>
                            </div>
                            <div class="info__middle">
                                <h3 class="info__heading">Priser</h3>
                                <p>Vi tilbyder en lav pris, med høj kvalitet af vores service.</p>
                            </div>
                            <div class="info__bottom">
                                <i class="info__arrow fas fa-arrow-right"></i>
                            </div>
                        </div>
                    </a>
                </div>

            </div>


            <div class="index-section-2">

                <div class="vision">

                    <div class="vision__image-container">
                        <img class="vision__image" src="/assets/images/mission.jpg"
                            alt="to personer ved at bord som planlægger">
                    </div>

                    <div class="vision__text">
                        <h2>Mission og værdier</h2>
                        <p>IT hjælp skal være tilgængelig for alle mennesker i alle aldre. IT skal være let at
                            forstå, og man skal ikke grave dybt i lommerne for at få sit digitale liv til at fungere. Vi
                            levere en service som er til at forholde sig til, og vi vil aldrig gå på kompromis
                            med kvaliteten af vores ydelse. Det er PCfejl’s kerneværdier, og dem vil vi aldrig lave om
                            på!
                        </p>
                    </div>

                </div>

            </div>

        </div>

    </main>

    <!-- Footer -->
    <%- include('templates/footer'); %>

    <!-- JS -->

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.15.4/firebase-app.js"></script>
    <!-- TODO: Add SDKs for Firebase products that you want to use
         https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/7.15.4/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.15.4/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.15.4/firebase-auth.js"></script>

    <script src="/assets/js/firebase-config.js"></script>
    <script src="/assets/js/script.js"></script>

    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/5f08b54167771f3813c0d03c/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
    
</body>

</html>