<!DOCTYPE html>
<html lang="da">

<head>

    <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="2916ef17-cb11-4aa2-9e7d-79fd112e3df3"
        data-blockingmode="auto" type="text/javascript"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-171086739-1%22%3E"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-171086739-1');
    </script>

    <meta charset="UTF-8">

    <link rel="shortcut icon" href="/assets/images/pcfejl-logo-tab.svg" type="image/x-icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="keywords" content="Virus, fejl, computer, pc">

    <meta name="description"
        content="På pcfejl.dk hjælper vi dig med dine IT problemer, stort som småt, hvad enten om dit mailprogram ikke virker, har du virus, eller er din computer blevet langsom.">

    <!-- CSS -->
    <link rel="stylesheet" href="/assets/css/styles.css">

    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/7c822157fa.js" crossorigin="anonymous"></script>

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

    <title>PCfejl - Når IT skal være nemt</title>
</head>

<body>

    <!-- Header -->
    <%- include('templates/header'); %>

    <!-- Hero -->
    <div class="hero hero--index">
        <h1 class="hero__forside-heading">Velkommen Til PCfejl.dk</h1>
        <p>Vi er den nemme løsning til dine IT problemer. <br> Ring til os på <span id="number-font"
                class="hero__phone">+45 89 87
                07 46</span></p>
        <p>- Vi er klar til at hjælpe dig.</p>
    </div>

    <main>

        <div class="info-flex-container">

            <div class="info">

                <div class="info-container">
                    <div class="info__top">
                        <i class="fas fa-phone"></i>
                    </div>
                    <div class="info__middle">
                        <h3 class="info__heading">Telefonisk</h3>
                        <p>Du kan ringe til os, så vi kan løse dit problem.</p>
                    </div>
                    <div class="info__bottom">
                        <p id="number-font">+45 89 87 07 46</p>
                    </div>
                </div>

            </div>

            <div class="info">
                <div class="info-container">
                    <div class="info__top">
                        <i class="fas fa-envelope"></i>
                    </div>
                    <div class="info__middle">
                        <h3 class="info__heading">E-mail</h3>
                        <p>Du kan sende en email til os, du vil blive besvaret inden for 24 timer.</p>
                    </div>
                    <div class="info__bottom">
                        <p>kontakt@pcfejl.dk</p>
                    </div>
                </div>
            </div>

            <div class="info">
                <a href="/booking">
                    <div class="info-container">
                        <div class="info__top">
                            <i class="fas fa-calendar-alt"></i>
                        </div>
                        <div class="info__middle">
                            <h3 class="info__heading">Booking</h3>
                            <p>Du kan booke en tid hos os, hvis du ikke lige har mulighed for at få problemet løst
                                nu og her.</p>
                        </div>
                        <div class="info__bottom info__bottom--link">
                            <i class="info__arrow fas fa-arrow-right"></i>
                        </div>
                    </div>
                </a>
            </div>

        </div>

        <div class="index-section-2">
            <div class="whyus">
                <div class="whyus__description">
                    <h2>Hvorfor vælge os ?</h2>
                    <ul>
                        <li>Hjælp der er til at forstå</li>
                        <li>Overskuelige samt faste priser</li>
                        <li>IT support til erhverv, og private</li>
                    </ul>
                    <p>IT hjælp skal være tilgængelig for alle mennesker i alle aldre. IT skal være let at forstå, og
                        man skal ikke grave dybt i lommerne for at få sit digitale liv til at fungere. <br> <br> Vi
                        levere en service som er til at forholde sig til, og vi vil aldrig gå på kompromis med
                        kvaliteten af vores ydelse. <br> <br> Det er PCfejl’s kerneværdier, og dem vil vi aldrig lave om
                        på!</p>
                </div>
                <div class="whyus__call">
                    <img src="/assets/images/mission.JPG" alt="">
                    <div class="whyus__number">
                        <span>Ring til os på</span>
                        <span id="number-font">+45 89 87 07 46</span>
                    </div>
                </div>
            </div>

            <div class="reviews">
                <div>
                    <h2>Kunde anmeldelse</h2>
                    <img src="/assets/images/Trustpilot_logo.png" alt="">
                </div>
                <div>
                    <h2 class="reviews__title">En virkelig god hjælp.…</h2>
                    <p class="reviews__text">
                        En meget fin og forstålig forklaring af Mads. Da jeg forklarede, hvad det drejede sig om, så
                        1--2-3
                        så kørte den bare, Jeg vil anbefale pcfejl.dk som super perfekt, når man er kørt fast..
                    </p>
                    <span class="reviews__name">- Arne</span>
                </div>
            </div>
        </div>

    </main>

    <!-- Footer -->
    <%- include('templates/footer'); %>

    <!-- JS -->
    <script src="/assets/js/script.js"></script>

    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/5f08b54167771f3813c0d03c/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->

</body>

</html>