<!DOCTYPE html>
<html lang="da">

<head>

    <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="2916ef17-cb11-4aa2-9e7d-79fd112e3df3"
        data-blockingmode="auto" type="text/javascript"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-171086739-1%22%3E"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-171086739-1');
    </script>

    <meta charset="UTF-8">

    <link rel="shortcut icon" href="/assets/images/pcfejl-logo-tab.svg" type="image/x-icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" href="/assets/css/styles.css">

    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/7c822157fa.js" crossorigin="anonymous"></script>

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">

    <title>PCfejl - kontakt</title>
</head>

<body>

    <!-- Header -->
    <%- include('templates/header'); %>

    <!-- Hero -->
    <div class="hero">
        <h1 class="hero__heading">Kontakt</h1>
    </div>

    <main>

        <!-- Breadcrumbs -->
        <%- include('templates/breadcrumbs'); %>

        <div class="contact-form-container">

            <form class="contact-form" netlify>

                <h2 class="contact-form__heading">Send os en besked</h2>

                <div id="error"></div>

                <fieldset class="contact-form__fieldset">
                    <input class="contact-form__input" name="name" id="name" type="text" placeholder="Navn">
                    <input class="contact-form__input" name="email" id="email" type="email" placeholder="Email">
                    <input class="contact-form__input" name="subject" id="subject" type="text" placeholder="Emne">
                </fieldset>

                <fieldset class="contact-form__fieldset">
                    <textarea class="contact-form__message" name="message" id="message"
                        placeholder="Hvad kan vi hjælpe med?"></textarea>
                </fieldset>

                <fieldset class="contact-form__button-container">
                    <button class="contact-form__button">Send</button>
                </fieldset>

            </form>
        </div>

        <div class="wrapper">

            <div class="employee-container">

                <div class="employee">

                    <div class="employee__image-container">
                        <img class="employee__image" src="/assets/images/placeholder.png" alt="">
                    </div>

                    <div class="employee__details">
                        <h3 class="employee__name">Mads Larsen</h3>
                        <div>
                            <span class="employee__jobtitle">IT-supporter</span>
                            <span class="employee__email">mkl@pcfejl.dk</span>
                        </div>
                        <span class="employee__phone"></span>
                    </div>

                </div>

                <div class="employee">

                    <div class="employee__image-container">
                        <img class="employee__image" src="/assets/images/placeholder.png" alt="">
                    </div>

                    <div class="employee__details">
                        <h3 class="employee__name">Casper Bardram</h3>
                        <div>
                            <span class="employee__jobtitle">IT-supporter</span>
                            <span class="employee__email">ceb@pcfejl.dk</span>
                        </div>
                        <span class="employee__phone"></span>
                    </div>

                </div>

                <div class="employee">

                    <div class="employee__image-container">
                        <img class="employee__image" src="/assets/images/placeholder.png" alt="">
                    </div>

                    <div class="employee__details">
                        <h3 class="employee__name">Rasmus Lauritsen</h3>
                        <div>
                            <span class="employee__jobtitle">Webudvikler</span>
                            <span class="employee__email">rll@pcfejl.dk</span>
                        </div>
                        <span class="employee__phone"></span>
                    </div>

                </div>

                <div class="employee">

                    <div class="employee__image-container">
                        <img class="employee__image" src="/assets/images/placeholder.png" alt="">
                    </div>

                    <div class="employee__details">
                        <h3 class="employee__name">Frederik Pedersen</h3>
                        <div>
                            <span class="employee__jobtitle">Marketing & Bogholder</span>
                            <span class="employee__email">fsp@pcfejl.dk</span>
                        </div>
                        <span class="employee__phone"></span>
                    </div>

                </div>

            </div>

        </div>
    </main>

    <!-- Footer -->
    <%- include('templates/footer'); %>

    <!-- JS -->

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.15.4/firebase-app.js"></script>
    <!-- TODO: Add SDKs for Firebase products that you want to use
             https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/7.15.4/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.15.4/firebase-firestore.js"></script>

    <script src="/assets/js/firebase-config.js"></script>
    <script src="/assets/js/script.js"></script>
    <script src="/assets/js/breadcrumbs.js"></script>
    <script src="/assets/js/kontakt.js"></script>

    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/5f08b54167771f3813c0d03c/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->

</body>

</html>