<!DOCTYPE html>
<html lang="da">

<head>

    <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="2916ef17-cb11-4aa2-9e7d-79fd112e3df3"
        data-blockingmode="auto" type="text/javascript"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-171086739-1%22%3E"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-171086739-1');
    </script>

    <meta charset="UTF-8">

    <link rel="shortcut icon" href="/assets/images/pcfejl-logo-tab.svg" type="image/x-icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" href="/assets/css/styles.css">

    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/7c822157fa.js" crossorigin="anonymous"></script>

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">

    <title>PCfejl - Priser</title>
</head>

<body>

    <!-- Header -->
    <%- include('templates/header'); %>

    <!-- Hero -->
    <div class="hero">
        <h1 class="hero__heading">Priser</h1>
    </div>

    <!-- Breadcrumbs -->
    <%- include('templates/breadcrumbs'); %>

    <main>
        <div class="wrapper">

            <table class="price-table">
                <tr>
                    <th>Services</th>
                    <th>Pris</th>
                    <th></th>
                </tr>
                <tr>
                    <td>Diagnose</td>
                    <td>Gratis</td>
                    <td class="price-table__link"><a href="/services/">Læs mere</a></td>
                </tr>
                <tr>
                    <td>Fjernsupport</td>
                    <td>225.-</td>
                    <td class="price-table__link"><a href="/services/">Læs mere</a></td>
                </tr>
                <tr>
                    <td>Virus fjernelse</td>
                    <td>500.-</td>
                    <td class="price-table__link"><a href="/services/">Læs mere</a></td>
                </tr>
                <tr>
                    <td>Optimeringspakke</td>
                    <td>450.-</td>
                    <td class="price-table__link"><a href="/services/">Læs mere</a></td>
                </tr>
                <tr>
                    <td>Installation af software</td>
                    <td>99.-</td>
                    <td class="price-table__link"><a href="/services/">Læs mere</a></td>
                </tr>
                <tr>
                    <td>Rådgivning</td>
                    <td>79.-</td>
                    <td class="price-table__link"><a href="/services/">Læs mere</a></td>
                </tr>
                <tr>
                    <th>Tilkøb</th>
                </tr>
                <tr>
                    <td>Klippekort 3 x 30 minutter</td>
                    <td>545.-</td>
                    <td class="price-table__link"><a href="/services/">Læs mere</a></td>
                </tr>
                <tr>
                    <td>PCfejl abonnement</td>
                    <td>700.-</td>
                    <td class="price-table__link"><a href="/services/">Læs mere</a></td>
                </tr>
            </table>

        </div>
    </main>

    <!-- Footer -->
    <%- include('templates/footer'); %>

    <!-- JS -->
    <script src="/assets/js/script.js"></script>
    <script src="/assets/js/priser.js"></script>
    <script src="/assets/js/breadcrumbs.js"></script>

    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/5f08b54167771f3813c0d03c/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->

</body>

</html>