<!DOCTYPE html>
<html lang="da">

<head>

    <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="2916ef17-cb11-4aa2-9e7d-79fd112e3df3"
        data-blockingmode="auto" type="text/javascript"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-171086739-1%22%3E"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-171086739-1');
    </script>

    <meta charset="UTF-8">

    <link rel="shortcut icon" href="/assets/images/pcfejl-logo-tab.svg" type="image/x-icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="keywords" content="Virus, fejl, computer, pc fejl, computer hjælp">

    <meta name="description"
        content="Se vores priser til blandt andet fjernsupport, on site support, og vores support abonnement. Vores priser ligger blandt de bedste på markedet indenfor IT hjælp, til private og erhverv.">


    <!-- CSS -->
    <link rel="stylesheet" href="/assets/css/styles.css">

    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/7c822157fa.js" crossorigin="anonymous"></script>

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">

    <title>PCfejl - Priser</title>
</head>

<body>

    <!-- Header -->
    <%- include('templates/header'); %>

    <!-- Hero -->
    <div class="hero">
        <h1 class="hero__heading">Priser</h1>
    </div>

    <!-- Breadcrumbs -->
    <%- include('templates/breadcrumbs'); %>

    <main>
        <div class="wrapper">

            <div class="priser-container">

                <div class="price-card">
                    <h2 class="price-card__title">Privat</h2>

                    <hr class="price-card__line price-card__line--big">

                    <div class="price-card__fjernsupport">
                        <h2 class="price-card__title">Fjernsupport</h2>
                        <div>
                            <p class="price-card__price">320 kr. <span class="price-card__moms">Inkl. moms</span></p>
                            <p class="price-card__detail">Pr. halve time</p>
                        </div>
                        <div>
                            <div>
                                <h3>Typiske opgaver</h3>
                                <p class="price-card__detail">Vi tager imod alle opgaver</p>
                            </div>
                            <div>
                                <p>Opsætning af mail</p>
                                <p>Rådgivning</p>
                                <p>Installation af software</p>
                                <p>Virus beskyttelse</p>
                                <p>Diverse fejlmeddelelser</p>
                            </div>
                        </div>
                        <div>
                            <p class="price-card__detail">Vi fakturerer mindst ½ time</p>
                            <p class="price-card__detail">Vi fakturerer kun ved løste opgaver</p>
                        </div>
                    </div>

                    <hr class="price-card__line price-card__line--small">

                    <div class="price-card__onsite">
                        <div>
                            <h2 class="price-card__title">On-site support</h2>
                            <p class="price-card__detail">Kun i weekenden</p>
                        </div>
                        <div>
                            <p class="price-card__price">520 kr. <span class="price-card__moms">Inkl. moms</span></p>
                            <p class="price-card__detail">Pr. halve time</p>
                        </div>
                        <div>
                            <div>
                                <h3>Typiske opgaver</h3>
                                <p class="price-card__detail">Vi tager imod alle opgaver</p>
                            </div>
                            <div>
                                <p>Opsætning af printere</p>
                                <p>Opsætning af routere</p>
                                <p>Reparation af computer</p>
                                <p>Installation/Geninstallation af Windows</p>
                            </div>
                        </div>
                        <div>
                            <div>
                                <h3>Transport priser</h3>
                                <p class="price-card__detail">Startpunkt: Køge centrum</p>
                                <p class="price-card__detail">Kun sjælland</p>
                            </div>
                            <div>
                                <p>15km: 100 kr </p>
                                <p>30km: 220 kr</p>
                                <p>50km: 370 kr</p>
                                <p>Derefter 2 kr per kilometer</p>
                            </div>
                        </div>
                        <div>
                            <p class="price-card__detail">Vi fakturerer mindst ½ time</p>
                            <p class="price-card__detail">Vi fakturerer kun ved løste opgaver, <br> dog refunderes
                                transport prisen ikke</p>
                        </div>
                    </div>

                    <hr class="price-card__line price-card__line--small">

                    <div class="price-card__abonnement">
                        <h2 class="price-card__title">Abonnement</h2>
                        <div>
                            <p class="price-card__price">500 kr <span class="price-card__moms">Inkl. moms</span></p>
                            <p class="price-card__detail">Pr. mdr</p>
                        </div>
                        <ul>
                            <li>Ubegrænset fjernsupport</li>
                            <li>Fri telefonsupport</li>
                            <li>Dokumentation</li>
                            <li>Alle hverdage</li>
                            <li>Weekend support 10 - 22</li>
                            <li><span id="underline">Ikke</span> enhedsbegrænset</li>
                        </ul>
                    </div>
                </div>

                <div class="price-card">
                    <h2 class="price-card__title">Erhverv</h2>

                    <hr class="price-card__line price-card__line--big">

                    <div class="price-card__fjernsupport">
                        <h2 class="price-card__title">Fjernsupport</h2>
                        <div>
                            <p class="price-card__price">375 kr. <span class="price-card__moms">ekskl. moms</span></p>
                            <p class="price-card__detail">Pr. halve time</p>
                        </div>
                        <div>
                            <div>
                                <h3>Typiske opgaver</h3>
                                <p class="price-card__detail">Vi tager imod alle opgaver</p>
                            </div>
                            <div>
                                <p>Opsætning af mail</p>
                                <p>Rådgivning</p>
                                <p>Installation af software</p>
                                <p>Virus beskyttelse</p>
                                <p>Diverse fejlmeddelelser</p>
                            </div>
                        </div>
                        <div>
                            <p class="price-card__detail">Vi fakturerer mindst ½ time</p>
                            <p class="price-card__detail">Vi fakturerer kun ved løste opgaver</p>
                        </div>
                    </div>

                    <hr class="price-card__line price-card__line--small">

                    <div class="price-card__onsite">
                        <div>
                            <h2 class="price-card__title">On-site support</h2>
                            <p class="price-card__detail">Kun i weekenden</p>
                        </div>
                        <div>
                            <p class="price-card__price">595 kr. <span class="price-card__moms">ekskl. moms</span></p>
                            <p class="price-card__detail">Pr. halve time</p>
                        </div>
                        <div>
                            <div>
                                <h3>Typiske opgaver</h3>
                                <p class="price-card__detail">Vi tager imod alle opgaver</p>
                            </div>
                            <div>
                                <p>Opsætning af printere</p>
                                <p>Reparation af computere</p>
                                <p>Udskiftning af it udstyr</p>
                                <p>Installation/Geninstallation af Windows</p>
                            </div>
                        </div>
                        <div>
                            <div>
                                <h3>Transport priser</h3>
                                <p class="price-card__detail">Startpunkt: Køge centrum</p>
                                <p class="price-card__detail">Kun sjælland</p>
                            </div>
                            <div>
                                <p>15km: 100 kr </p>
                                <p>30km: 220 kr</p>
                                <p>50km: 370 kr</p>
                                <p>Derefter 2 kr per kilometer</p>
                            </div>
                        </div>
                        <div>
                            <p class="price-card__detail">Vi fakturerer mindst ½ time</p>
                            <p class="price-card__detail">Vi fakturerer kun ved løste opgaver, <br> dog refunderes
                                transport prisen ikke</p>
                        </div>
                    </div>

                    <hr class="price-card__line price-card__line--small">

                    <div class="price-card__abonnement">
                        <h2 class="price-card__title">Abonnement</h2>
                        <div>
                            <p class="price-card__price">800 kr <span class="price-card__moms">ekskl. moms</span></p>
                            <p class="price-card__detail">Pr. mdr</p>
                        </div>
                        <ul>
                            <li>Ubegrænset fjernsupport</li>
                            <li>Fri telefonsupport</li>
                            <li>Dokumentation</li>
                            <li>Alle hverdage</li>
                            <li>Weekend support 10 - 22</li>
                            <li><span id="underline">Ikke</span> enhedsbegrænset</li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>
    </main>

    <!-- Footer -->
    <%- include('templates/footer'); %>

    <!-- JS -->
    <script src="/assets/js/script.js"></script>
    <script src="/assets/js/priser.js"></script>
    <script src="/assets/js/breadcrumbs.js"></script>

    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/5f08b54167771f3813c0d03c/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->

</body>

</html>