<!DOCTYPE html>
<html lang="da">

<head>

    <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="2916ef17-cb11-4aa2-9e7d-79fd112e3df3"
        data-blockingmode="auto" type="text/javascript"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-171086739-1%22%3E"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-171086739-1');
    </script>

    <meta charset="UTF-8">

    <link rel="shortcut icon" href="/assets/images/pcfejl-logo-tab.svg" type="image/x-icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" href="/assets/css/styles.css">

    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/7c822157fa.js" crossorigin="anonymous"></script>

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">

    <title>PCfejl - Priser</title>
</head>

<body>

    <!-- Customer chat -->


    <!-- Header -->
    <%- include('templates/header'); %>

    <!-- Hero -->
    <div class="hero">
        <h1 class="hero__heading">Priser</h1>
    </div>

    <!-- Breadcrumbs -->
    <%- include('templates/breadcrumbs'); %>

    <main>
        <div class="wrapper">

            <div class="price-card-container">

                <div class="price-card">

                    <div class="price-card__inner">
                        <div class="price-card__front">
                            <h2 class="price-card__product">Diagnose</h2>
                            <span class="price-card__price--free">Gratis</span>
                            <div class="price-card__arrow">
                                <i class="fas fa-sync"></i>
                            </div>
                        </div>
                        <div class="price-card__back">
                            <p class="price-card__description">Når du ringer ind med et problem, så finder vi ud af hvad
                                der er galt
                                ganske gratis, det er det vi også kalder diagnosticering.</p>
                        </div>
                    </div>
                </div>

                <div class="price-card">

                    <div class="price-card__inner">
                        <div class="price-card__front">
                            <h2 class="price-card__product">Fjernsupport</h2>
                            <div class="price-card__price-container">
                                <span class="price-card__price">225.-</span>
                            </div>
                            <div class="price-card__arrow price-card__arrow--flex">
                                <p>Pr. halve time</p>
                                <i class="fas fa-sync"></i>
                            </div>
                        </div>
                        <div class="price-card__back">
                            <p class="price-card__description">Vores IT-support forgår over via et fjernstyringsprogram
                                der hedder Splashtop, og indebærer alt som ikke står andre steder på prislisten. Via
                                fjernstyring kan vi hjælpe dig med dine IT-problemer, uden af at vi skal være fysisk
                                tilstede hos dig. Prisen på 225kr, skal først betales, når dit problem er løst. Vi
                                fakturere pr. halve time, og prisen er for 30 minutters support, og ikke pr. løst
                                problem.</p>
                        </div>
                    </div>
                </div>

                <div class="price-card">

                    <div class="price-card__inner">
                        <div class="price-card__front">
                            <h2 class="price-card__product">Virus fjernelse</h2>
                            <div class="price-card__price-container">
                                <span class="price-card__price">500.-</span>
                            </div>
                            <div class="price-card__arrow">
                                <i class="fas fa-sync"></i>
                            </div>
                        </div>
                        <div class="price-card__back">
                            <p class="price-card__description">Hvis din computer er blevet inficeret med virus, så er
                                der stadig en
                                chance for at redde den. Det er altid værd at prøve at fjerne en virus, og få ens data
                                ud helskindet, i stedet for at reinstallere computeren med det samme.</p>
                        </div>
                    </div>
                </div>

                <div class="price-card">

                    <div class="price-card__inner">
                        <div class="price-card__front">
                            <h2 class="price-card__product">Optimeringspakke</h2>
                            <div class="price-card__price-container">
                                <span class="price-card__price">450.-</span>
                            </div>
                            <div class="price-card__arrow">
                                <i class="fas fa-sync"></i>
                            </div>
                        </div>
                        <div class="price-card__back">
                            <p class="price-card__description">Vores optimeringspakke kan være en god løsning, hvis din
                                computer er
                                gammel, eller har lidt for meget software installeret. Vi tager simpelthen vægten af
                                dens skuldre, så den kan performe bedre.</p>
                        </div>
                    </div>
                </div>

                <div class="price-card">

                    <div class="price-card__inner">
                        <div class="price-card__front">
                            <h2 class="price-card__product">Installation af software</h2>
                            <div class="price-card__price-container">
                                <span class="price-card__price">99.-</span>
                            </div>
                            <div class="price-card__arrow">
                                <i class="fas fa-sync"></i>
                            </div>
                        </div>
                        <div class="price-card__back">
                            <p class="price-card__description">Står du og skal installere software, men den ikke rigtig
                                vil som du vil? Så er vi klar til at hjælpe dig.</p>
                        </div>
                    </div>
                </div>

                <div class="price-card">

                    <div class="price-card__inner">
                        <div class="price-card__front">
                            <h2 class="price-card__product">Rådgivning</h2>
                            <div class="price-card__price-container">
                                <span class="price-card__price">79.-</span>
                            </div>
                            <div class="price-card__arrow">
                                <i class="fas fa-sync"></i>
                            </div>
                        </div>
                        <div class="price-card__back">
                            <p class="price-card__description">Hvis du mangler rådgivning til enten køb af ny computer,
                                valg af anti-virus, eller lignende så er vi klar til at hjælpe dig.</p>
                        </div>
                    </div>
                </div>

                <div class="price-card">

                    <div class="price-card__inner">
                        <div class="price-card__front">
                            <h2 class="price-card__product">Klippekort 3 x 30 minutter</h2>
                            <div class="price-card__price-container">
                                <span class="price-card__price">545.-</span>
                            </div>
                            <div class="price-card__arrow">
                                <i class="fas fa-sync"></i>
                            </div>
                        </div>
                        <div class="price-card__back">
                            <p class="price-card__description">Det er et økonomisk bedre valg at købe klippekort, i
                                stedet for at købe
                                sig til hjælp hver gang man har brug for det.
                                Ved 3 x 30 minutters klippekortet sparer du 44kr, når du har haft brugt hele
                                klippekortet.</p>
                        </div>
                    </div>
                </div>

                <div class="price-card">>

                    <div class="price-card__inner">
                        <div class="price-card__front">
                            <h2 class="price-card__product">Klippekort double 6 x 30 minutter</h2>
                            <div class="price-card__price-container">
                                <span class="price-card__price">999.-</span>
                            </div>
                            <div class="price-card__arrow">
                                <i class="fas fa-sync"></i>
                            </div>
                        </div>
                        <div class="price-card__back">
                            <p class="price-card__description">Det er et økonomisk bedre valg at købe
                                klippekort, i stedet for at købe
                                sig til hjælp hver gang man har brug for det.
                                Ved 6 x 30 minutters klippekortet sparer du 59kr, når du har haft brugt hele
                                klippekortet</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </main>

    <!-- Footer -->
    <%- include('templates/footer'); %>

    <!-- JS -->

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.15.4/firebase-app.js"></script>
    <!-- TODO: Add SDKs for Firebase products that you want to use
             https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/7.15.4/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.15.4/firebase-firestore.js"></script>

    <script src="/assets/js/firebase-config.js"></script>
    <script src="/assets/js/script.js"></script>
    <script src="/assets/js/priser.js"></script>
    <script src="/assets/js/breadcrumbs.js"></script>

    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/5f08b54167771f3813c0d03c/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->

</body>

</html>