<!DOCTYPE html>
<html lang="da">

<head>

    <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="2916ef17-cb11-4aa2-9e7d-79fd112e3df3"
        data-blockingmode="auto" type="text/javascript"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-171086739-1%22%3E"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-171086739-1');
    </script>

    <meta charset="UTF-8">

    <link rel="shortcut icon" href="/assets/images/pcfejl-logo-tab.svg" type="image/x-icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="keywords" content="Virus, fejl, computer, pc">

    <meta name="description"
        content="På pcfejl.dk hjælper vi dig med dine IT problemer, stort som småt, hvad enten om dit mailprogram ikke virker, har du virus, eller er din computer blevet langsom.">

    <!-- CSS -->
    <link rel="stylesheet" href="/assets/css/styles.css">

    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/7c822157fa.js" crossorigin="anonymous"></script>

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">

    <title>PCfejl - Når IT skal være nemt</title>
</head>

<body>

    <!-- Header -->
    <%- include('templates/header'); %>

    <!-- Hero -->
    <div class="hero hero--index">
        <h1 class="hero__heading">Services</h1>
    </div>

    <!-- Breadcrumbs -->
    <%- include('templates/breadcrumbs'); %>

    <main>

        <div class="wrapper">

            <div class="services-container">

                <div class="service">
                    <i class="service__icon fas fa-search"></i>
                    <h2 class="service__title">Diagnose</h2>
                    <hr>
                    <p class="service__description">Når du ringer ind med et problem, så finder vi ud af hvad
                        der er galt
                        ganske gratis, det er det vi også kalder diagnosticering.</p>
                </div>

                <div class="service">
                    <i class="service__icon fas fa-headset"></i>
                    <h2 class="service__title">Fjernsupport</h2>
                    <hr>
                    <p class="service__description">Fjernsupport giver fjernadgang til din computer, så
                        IT-Supporteren kan se problemet med egne øjne, for at hjælpe med problemet.</p>
                </div>

                <div class="service">
                    <i class="service__icon fas fa-exclamation-triangle"></i>
                    <h2 class="service__title">Virus fjernelse</h2>
                    <hr>
                    <p class="service__description">Vi hjælper dig med at fjerne virus, og sikre at du for
                        fremtiden er bedre beskyttet mod virus.</p>
                </div>

                <div class="service">
                    <i class="service__icon fas fa-tachometer-alt"></i>
                    <h2 class="service__title">Optimeringspakke</h2>
                    <hr>
                    <p class="service__description">Vores optimeringspakke kan hjælpe med at bringe en gammel
                        langsom computer til livs igen. Vi prøver at løfte vægten af computerens skuldre, så den
                        kan kører bedre.</p>
                </div>

                <div class="service">
                    <i class="service__icon fas fa-file-download"></i>
                    <h2 class="service__title">Installation af software</h2>
                    <hr>
                    <p class="service__description">Står du og skal installere software, men den ikke rigtig
                        vil som du vil? Så er vi klar til at hjælpe dig.</p>
                </div>

                <div class="service">
                    <i class="service__icon fas fa-question-circle"></i>
                    <h2 class="service__title">Rådgivning</h2>
                    <hr>
                    <p class="service__description">Hvis du mangler rådgivning til enten køb af ny computer,
                        valg af anti-virus, eller lignende så er vi klar til at hjælpe dig.</p>
                </div>

                <!-- <div class="service">
                    <i class="service__icon fas fa-exclamation-triangle"></i>
                    <h2 class="service__title">Klippekort 3 x 30 minutter</h2>
                    <hr>
                    <p class="service__description">Det er et økonomisk bedre valg at købe klippekort, i
                        stedet for at købe
                        sig til hjælp hver gang man har brug for det.
                        Ved 3 x 30 minutters klippekortet sparer du 44kr, når du har haft brugt hele
                        klippekortet.</p>
                </div>

                <div class="service">
                    <i class="service__icon fas fa-exclamation-triangle"></i>
                    <h2 class="service__title">PCfejl abonnement</h2>
                    <hr>
                    <p class="service__description">Vores månedlige abonnoment indholder;
                        Fjernsupport, Virus Fjernelse, Installation af software & Rådgivning.
                        Til én samlet værdi af 903,- Samlet i en stor pakke, som du kan tage brug af så mange
                        gange du har lyst, i en månede</p>
                </div> -->

            </div>

        </div>

    </main>

    <!-- Footer -->
    <%- include('templates/footer'); %>

    <!-- JS -->
    <script src="/assets/js/script.js"></script>
    <script src="/assets/js/breadcrumbs.js"></script>

    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/5f08b54167771f3813c0d03c/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->

</body>

</html>