<footer class="footer">

    <div class="contact-info">
        <h3 class="footer__heading">Kontakt</h3>
        <ul class="contact-info__list">
            <li><i class="contact-info__icon fas fa-phone"></i>+45 89 87 07 46</li>
            <li><i class="contact-info__icon fas fa-envelope"></i><a class="footer__link" href="mailto:kontakt@pcfejl.dk">kontakt@pcfejl.dk</a></li>
            <li>Mandag - Fredag: 17:00 - 22:00</li>
            <li>Lørdag: 10:00 - 22:00</li>
            <li>Søndag: 10:00 - 22:00</li>
        </ul>
    </div>

    <div class="services">
        <h3 class="footer__heading">Services</h3>
        <ul class="services__list">
            <li>Fjernsupport</li>
            <li>Virus fjernelse</li>
            <li>Optimeringspakke</li>
            <li>Installation af software</li>
            <li>Rådgivning</li>
            <li>PCfejl abonnement</li>
        </ul>
    </div>

    <div class="links">
        <h3 class="footer__heading">Relevante links</h3>
        <ul class="links__list">
            <li><a class="footer__link" href="/">Forside</a></li>
            <li><a class="footer__link" href="/priser/">Priser</a></li>
            <li><a class="footer__link" href="/faq/">Spørgsmål</a></li>
            <li><a class="footer__link" href="/kontakt/">Kontakt</a></li>
            <li><a class="footer__link" href="/cookiepolitik/">Cookiepolitik</a></li>
            <li><a class="footer__link" href="/privatlivspolitik/">Privatlivspolitik</a></li>
            <li><a class="footer__link" href="/handelsbetingelser/">Handelsbetingelser</a></li>
        </ul>
    </div>

    <div class="social">
        <h3 class="footer__heading">Følg os</h3>
        <ul class="social__list">
            <li><a href="https://www.facebook.com/pcfejl"><i class="fab fa-facebook-square"></i></a></li>
            <li><a href="https://www.instagram.com/pcfejl.dk/"><i class="fab fa-instagram"></i></a></li>
        </ul>
    </div>
</footer>