<header class="header">
    <a href="/"><img class="header__logo" src="/assets/images/pcfejl-logo.svg" alt="PCfejl logo"></a>

    <nav class="nav">
        <ul>
            <li><a class="nav__link" href="/">Forside</a></li>
            <li><a class="nav__link" href="/priser/">Services & Priser</a></li>
            <!-- <li><a class="nav__link" href="/services/">Services</a></li> -->
            <li><a class="nav__link" href="/backup/">Backup løsning</a></li>
            <li><a class="nav__link" href="/booking/">Booking</a></li>
            <li><a class="nav__link" href="/faq/">FAQ</a></li>
            <li><a class="nav__link" href="/kontakt/">Kontakt</a></li>
            <li><a class="nav__link" href="https://www.pcfejl.dk/assets/media/pcfejl-fjernsupport.exe" download><button
                        class="download">Start Fjernsupport</button></a></li>
        </ul>
    </nav>



    <button class="hamburger hamburger--collapse" type="button">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button>

    <!-- <div class="open">
        <div class="open__status"></div>
        <p class="open__message"></p>
    </div> -->

</header>