<header class="header">
    <a href="/"><img class="header__logo" src="/assets/images/logo-footer.svg" alt=""></a>

    <nav class="nav">
        <ul>
            <li><a class="nav__link" href="/">Forside</a></li>
            <li><a class="nav__link" href="/priser/">Priser</a></li>
            <li><a class="nav__link" href="/faq/">FAQ</a></li>
            <li><a class="nav__link" href="/kontakt/">Kontakt</a></li>
        </ul>
    </nav>

    <a class="header__link" href="https://www.pcfejl.dk/assets/media/pcfejl-fjernsupport.exe" download><button class="download">Start Fjernsupport</button></a>

    <button class="hamburger hamburger--collapse" type="button">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button>

    <div class="open">
        <div class="open__status"></div>
        <div class="open__inner-container">
            <i class="far fa-clock"></i>
            <p class="open__message"></p>
        </div>
    </div>

</header>