@import "style.scss";

.admin-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary-color;
    width: 100vw;
    height: 100vh;
}

.admin-form {

    label {
        display: block;
        color: white;
    }

    input {
        height: 2em;
        width: 16em;
        margin-bottom: 1em;
    }

    button {
        display: block;
        width: 100%;
        border: none;
        height: 3em;
        background-color: transparent;
        border: 2px solid white;
        color: white;
    }
}