@import "style.scss";

//==========
// Mobile

.priser-container {
  display: flex;
  flex-direction: column;
  gap: 3em;
  margin-bottom: 5em;
}

.price-card {
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 1em;

  &__title {
    color: $dark-color;
  }

  &__line {
    width: 100%;
    border: none;
    background-color: $primary-color;
    margin: 1em 0;
  }

  &__line--big {
    height: 4px;
  }

  &__line--small {
    height: 1px;
  }

  &__price {
    font-size: 2em;
    color: $primary-color;
  }

  &__detail {
    color: gray;
  }

  &__fjernsupport {
    display: flex;
    flex-direction: column;
    gap: 2em;

    div:nth-child(3) {
      display: flex;
      flex-direction: column;
      gap: 1em;

      div {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
      }
    }
  }

  &__onsite {
    display: flex;
    flex-direction: column;
    gap: 2em;

    div:nth-child(3) {
      display: flex;
      flex-direction: column;
      gap: 1em;

      div {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
      }
    }
  }

  &__abonnement {
    display: flex;
    flex-direction: column;
    gap: 2em;

    ul {
      list-style-type: disc;
      list-style-position: inside;
      margin-left: 15px;
      line-height: 2;
    }
  }
}

//==========
// Tablet

@media all and (min-width: 768px) {

  .priser-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3em;
  }

  .price-card {
    width: 28em;
  }
}

//==========
// Desktop

@media all and (min-width: 1100px) {
  
}
