@import "style.scss";

//==========
// Mobile

.price-table {
  width: 100%;
  line-height: 2;
  margin-bottom: 2em;

  tr:nth-child(odd) {
    background-color: whitesmoke;
  }

  th {
    text-align: start;
  }

  &__link {
    text-align: center;
    font-size: 0.8em;
  }
}

//==========
// Tablet

@media all and (min-width: 768px) {

  .price-table {
    font-size: 1.1em;
  }
}

//==========
// Desktop

@media all and (min-width: 1100px) {
}
